/* common styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #ffe2e7;
}

.paragraph {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    max-width: 650px;
    margin-top: 0px;
}

.button-full {
    padding: 10px 23px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

/* header styles */
.header-tittle {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
}

.header-content {
    padding: 80px 240px 0px;
    display: flex;
    justify-content: space-around;
}

#header-pic {
    width: 635px;
    height: 800px;
}

/* main styles */
/* 1st section */
main {
    /* max-width: 1140px; */
    margin: auto;
}

.first-section {
    padding: 178px 0px 48px;
    text-align: center;
}

#first-section-para {
    text-align: center;
    margin: auto;
}

#second-tittle {
    font-size: 40px;
}

/* 2nd section */
.second-section {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.first-pic {
    width: 310px;
    height: 428px;
    padding: 110px 76px 0px;
    border-radius: 300px 300px 0px 0px;
    margin: 131px 0;
    background: #a7216226;
}

.second-pic {
    width: 370px;
    height: 370px;
    padding: 170px 47px 0px;
    border-radius: 300px 300px 0px 0px;
    margin: 131px 0;
    background: #0597a026;
}

.third-pic {
    width: 314px;
    height: 471px;
    padding: 67px 76px 0px;
    border-radius: 300px 300px 0px 0px;
    margin: 131px 0;
    background: #477d1126;
}

.para {
    text-align: center;
    text-decoration-line: underline;
}

/* forth section */
.forth-section {
    /* padding:100px 430px; */
    border-radius: 8px;
    background: #dfced20d;
    display: flex;
    /* margin: none; */
    justify-content: space-around;

}
#forth-tittle{
    font-size: 40px;
}
#off-pink{
    color: #E55473;
}
#forth-content{
    padding: 230px 0px 160px 423px;
    text-align: center;
}
#forth-section-pic {
    width: 318px;
    height: 420px;
    padding:100px 430px 0px 100px;
}